*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: font;
    src: url(../Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf);
}
body{
    background: radial-gradient( circle ,hsl(214, 47%, 23%), hsl(237, 49%, 15%) );
    font-family: font;
    position: relative;
}
.top-bar{
    border: 2px solid rgba(255, 255, 255, 0.356);
    color: white;
    margin: 20px auto;
    width: 60vw;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 10px 20px;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
li, ul{
    list-style: none;
}
li{
    height: 20px;
}
.score-cont{
    width: 120px;
    background-color: white;
    border-radius: 7px;
    text-align: center;
    color: rgb(66, 66, 255);
    padding-top: 10px;
}
.score{
    color: rgb(87, 84, 84);
    font-size: 40px;
    font-weight: 600;
}
.game{   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -165px ;
    position: relative;
}
.contenedor_1{  
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto ;
    width: 400px;
    height: 400px;
    margin-top: 120px;
    justify-content: center;    
    background: url(../images/bg-pentagon.svg) no-repeat ;
    background-size: contain;
}
.contenedor_22{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ficha{
    height: 100px;
    width: 100px;
    position: relative;
    border-radius: 50%;
}
.border{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid hsl(40, 84%, 53%);
    position: relative;
    z-index: 3;
}
.inner_botton  {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid hsl(39, 89%, 49%);
    position: relative;
    left: 0px;
    top: -94px;
    z-index: -2;
    border-top: none;
}
.inner_top{
    transform: rotateZ(45deg);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid rgba(85, 82, 82, 0.24);
    border-right: none;
    border-bottom: none;
    position: relative;
    left: 0px;
    top: -197px;
    z-index: 2;
}
.color_scissors_top{ border-color: hsl(40, 93%, 56%)!important; }
.color_paper_top{ border-color: hsl(230, 88%, 67%)!important; }
.color_rock_top{ border-color: hsl(349, 70%, 56%) !important; }
.color_lizard_top{ border-color: hsl(261, 72%, 63%)!important; }
.color_spock_top{ border-color: hsl(189, 58%, 57%)!important; }

.color_scissors_botton{ border-color: hsl(39, 94%, 46%)!important; }
.color_paper_botton{ border-color: hsl(230, 86%, 60%)!important; }
.color_rock_botton{ border-color: hsl(349, 69%, 50%)!important; }
.color_lizard_botton{ border-color: hsl(261, 63%, 54%)!important; }
.color_spock_botton{ border-color: hsl(189, 59%, 47%)!important; }

.ficha:hover{
    background-color: rgb(194, 192, 192);
    cursor: pointer;
}
.rock{
    grid-area: 3/3/ 4/4;
    background: white url(../images/icon-rock.svg)  17px 20px/ 60px 60px no-repeat;
    top: 40px;
    left: 25px;
    transform: scale(1.3);
}
.paper{
    grid-area: 2/3/ 3/4;  
    background: white url(../images/icon-paper.svg) 17px 20px/ 60px 60px no-repeat;
    top: -35px;
    left: 70px;
    transform: scale(1.3);
}
.scissors{ 
    grid-area: 1/2/ 2/3;
    background: white url(../images/icon-scissors.svg) 17px 20px/ 60px 60px no-repeat;
    top: -30px;
    transform: scale(1.3);
}
.lizard{
    grid-area: 3/1/ 4/2;
    background: white url(../images/icon-lizard.svg) 17px 20px/ 60px 60px no-repeat;
    top: 40px;
    left: -25px;
    transform: scale(1.3);
}
.spock{
    grid-area: 2/1/ 3/2;
    background: white url(../images/icon-spock.svg) 17px 20px/ 60px 60px no-repeat;
    top: -35px;
    left: -70px;
    transform: scale(1.3);
}
.btn{
    width: 150px;
    padding: 15px;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.596);
    border-radius: 5px;
    cursor: pointer;
}
.footer{
    position: absolute;
    right: 35px;
    bottom: 35px;
}



.random{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    animation: random 2.5s forwards; /*duration timing-function delay iteration-count direction fill-mode;*/
    margin: 15px;
}
@keyframes random {
    0%{ background: white url(../images/icon-spock.svg) 32px 35px/ 95px 95px no-repeat; }
    10%{ background: white url(../images/icon-lizard.svg) 32px 35px/ 95px 95px no-repeat; }
    20%{ background: white url(../images/icon-paper.svg) 32px 35px/ 95px 95px no-repeat; }
    30%{ background: white url(../images/icon-rock.svg) 32px 35px/ 95px 95px no-repeat; }
    40%{ background: white url(../images/icon-scissors.svg) 32px 35px/ 95px 95px no-repeat;}
    50%{ background: white url(../images/icon-spock.svg) 32px 35px/ 95px 95px no-repeat; }
    60%{ background: white url(../images/icon-lizard.svg) 32px 35px/ 95px 95px no-repeat; }
    70%{ background: white url(../images/icon-paper.svg) 32px 35px/ 95px 95px no-repeat; }
    80%{ background: white url(../images/icon-rock.svg) 32px 35px/ 95px 95px no-repeat; }
    90%{ background: white url(../images/icon-scissors.svg) 32px 35px/ 95px 95px no-repeat; }
    99%{ background: white url(../images/icon-paper.svg) 32px 35px/ 95px 95px no-repeat; }
}
.playerPiked{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin: 15px;
}
.text-selected{
    position: absolute;
    top: 250px;
    right: 170px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: transparent;
    animation: appear 2.5s forwards;
}
.text-selected2{
    position: absolute;
    top: 250px;
    left: 200px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: transparent;
    animation: appear 2.5s forwards/*duration timing-function delay iteration-count direction fill-mode; */
}
@keyframes appear {
    99%{ color: transparent;}
    100%{ color: white; }       
}
.sometext{
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    top: -45px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.othertext{
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    top: -45px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.text-win{
    font-size: 45px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 10px 0;
}
.btn-play{
    width: 100%;
    background-color: white;
    padding: 12px;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}
.btn-play:hover{
    background: gray;
}
.someDiv{
    width: 300px;
    padding: 40px;
}
.rule{
    display: flex;
    justify-content: center;    
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(29, 29, 29, 0.89);
}
.rule img{
    width: 100%;
    height: auto;
}
.rule .img_cont{
    width: 450px;
    z-index: 5;
}
.rule .rule_cont{
    background-color: aliceblue;
    border-radius: 5px;
    padding: 12px;
    position: relative;
    z-index: 5;
}
.rule_nav{
    text-transform: uppercase;
    font-size: 30px;
    padding: 7px;
    font-weight: bolder;
    color: hsl(214, 47%, 23%);
}
.rule .rule_cont img.closed{
    width: 25px;
    height: auto;
    position: absolute;
    right: 20px;
}
.rule .rule_cont img.closed:hover{
    cursor: pointer;
}

/* Para cuando la pantalla se reduce a movil o tablet en acncho */
@media screen and ( max-width: 620px ){
    .contenedor_1{  
        width: 250px;
        height: 250px;
        margin-top: -30px;
    }
    .rock{
        top: -15px;
        left: -30px;
        transform: scale(0.8);
    }
    .paper{
        top: -55px;
        left: 20px;
        transform: scale(0.8);
    }
    .scissors{ 
        top: -30px;
        transform: scale(0.8);
    }
    .lizard{
        top: -15px;
        left: 30px;
        transform: scale(0.8);
    }
    .spock{
        top: -55px;
        left: -20px;
        transform: scale(0.8);
    }
    /* .random{
        transform: scale(0.7);
    }
    .playerPiked{
        transform: scale(0.7);
    } */
    .someDiv{
        position: absolute;
        top: 200px;
        padding: 7px;
        width: 110px;
    }
    .someDiv{
        width: 300px;
    }
    .btn-play{
        height: 60px;
        font-size: 18px;
    }
    .top-bar{
        width: 88%;
    }
    .footer{
        width: 100vw;
        text-align: center;
        right: 0;
        bottom:  50px;
    }
    .contenedor_2{
        margin-top: -60px;
        transform: scale(0.8);
    }
    .rule .img_cont{
        width: 310px;
    }
}

/* cuando el alto se reduce */
@media screen and ( max-height: 700px ){
    .game{   
        display: inline-block;
        width: 100vw;
    }
    .contenedor_1{
        margin: 200px auto;
    }
    .contenedor_22{
        margin-top: 270px;
    }
}
.border_select{
    height: 176px;
    width: 176px;
    border-radius: 50%;
    border: 15px solid gray;
    top: -25px;
    position: relative;
    z-index: 3;
    left: -1px;
}
.inner_botton_select{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    border: 14px solid hsl(40, 79%, 35%);
    position: relative;
    left: 0px;
    top: -185px;
    z-index: -2;
    border-top: none;
}
.anima_top{
    animation: anima 2.5s /*duration timing-function delay iteration-count direction fill-mode; */
}
@keyframes anima {
    0%{ border: 15px solid hsl(189, 58%, 57%); }
    10%{ border-color: hsl(261, 72%, 63%);}
    20%{ border-color: hsl(230, 88%, 67%); }
    30%{ border: 14px solid hsl(349, 70%, 56%);}
    40%{border: 14px solid hsl(40, 93%, 56%); }
    50%{border-color: hsl(189, 58%, 57%); }
    60%{ border-color: hsl(261, 72%, 63%); }
    70%{border-color: hsl(230, 88%, 67%); }
    80%{ border: 14px solid hsl(349, 70%, 56%);}
    90%{ border: 14px solid hsl(40, 93%, 56%); }
    99%{ border-color: hsl(230, 88%, 67%);}
}
.anima_bot{
    animation: animal 2.5s /*duration timing-function delay iteration-count direction fill-mode; */
}
@keyframes animal {
    0%{ border: 15px solid hsl(189, 59%, 47%); }
    10%{ border-color: hsl(261, 63%, 54%);}
    20%{ border-color: hsl(230, 86%, 60%); }
    30%{ border: 14px solid  hsl(349, 69%, 50%);}
    40%{border: 14px solid hsl(39, 94%, 46%); }
    50%{border-color: hsl(189, 59%, 47%); }
    60%{ border-color: hsl(261, 63%, 54%); }
    70%{border-color: hsl(230, 86%, 60%); }
    80%{ border: 14px solid  hsl(349, 69%, 50%);}
    90%{ border: 14px solid hsl(39, 94%, 46%); }
    99%{ border-color: hsl(230, 86%, 60%);}
}
.gray{
    border-color: gray !important ;
}
.gray2{
    border-color: #4a4a4a !important;
}
/* esto es para el btn de rules */
@media screen and ( max-height: 655px ) and ( min-width: 621px ){
    .footer{
        position: absolute;
        right: 20px;
        bottom: 20px;
        top: 600px;
    }
    
}